[buildout]
extensions = 
parts = 
    instance
    omelette
    scripts
    releaser
    wkhtmltopdf

extends =
    http://dist.plone.org/release/4.3.3/versions.cfg
    versions.cfg
    versions-plone-async.cfg

effective-user =
show-picked-versions = true
versions = versions
find-links =
    http://packages.inigo-tech.com/packages/
    http://pypi.afterfivetech.com:8000/packages/

# ============================================== Start
# These settings will be overridden with OpenShift's environment variables
# during deployment
log-directory = ${buildout:directory}/var/log/
data-directory = ${buildout:directory}/var
pyeggcache-directory = ${buildout:directory}/var/egg-cache
http-address = 8080
# ================================================ End

# policy packages
policies = 
    eval.policy

hotfixes =
    Products.PloneHotfix20150910

extensions = mr.developer
sources-dir = dev/
auto-checkout =
    ploneun.policy
    ploneun.missions 
    ploneun.calendar
    ploneun.consultant
    ploneun.vocabulary
    eval.policy
    eval.theme
    collective.pdfexport
    ilo.vocabularies
    ilo.extenders
    sinarngo.resource
    inigo.redirecttocontainer
    ilo.goodpractice
    ilo.qa
    
[sources]
ploneun.policy=git https://github.com/ploneUN/ploneun.policy.git
ploneun.calendar=git https://github.com/ploneUN/ploneun.calendar.git
ploneun.missions=git https://github.com/ploneUN/ploneun.missions.git
ploneun.consultant=git https://github.com/ploneUN/ploneun.consultant.git
ploneun.vocabulary=git https://github.com/ploneUN/ploneun.vocabulary.git
collective.pdfexport=git https://github.com/collective/collective.pdfexport.git
ilo.vocabularies=git https://github.com/ploneUN/ilo.vocabularies.git
ilo.extenders=git https://github.com/ploneUN/ilo.extenders.git
eval.policy=git https://github.com/ploneUN/eval.policy.git
eval.theme=git https://github.com/ploneUN/eval.theme.git
sinarngo.resource=git https://github.com/Sinar/sinarngo.resource.git
inigo.redirecttocontainer=git https://github.com/inigoconsulting/inigo.redirecttocontainer.git
ilo.goodpractice=git https://github.com/ploneUN/ilo.goodpractice.git
ilo.qa=git https://github.com/ploneUN/ilo.qa.git

[mr.developer]
threads = 1

[instance]
recipe = plone.recipe.zope2instance
eggs = 
    Plone
    Pillow
    ipdb
    ${buildout:policies}
    ${buildout:hotfixes}

http-address = ${buildout:http-address}
user = admin:admin
effective-user = ${buildout:effective-user}

environment-vars = 
    PYTHON_EGG_CACHE ${buildout:pyeggcache-directory}
    WKHTMLTOPDF_PATH ${buildout:parts-directory}/wkhtmltopdf/wkhtmltopdf-amd64

zodb-cache-size = 3000
event-log = ${buildout:log-directory}/${:_buildout_section_name_}.log
z2-log = ${buildout:log-directory}/${:_buildout_section_name_}-Z2.log
file-storage = ${buildout:data-directory}/filestorage/Data.fs
blob-storage = ${buildout:data-directory}/blobstorage/
zcml-additional =

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = zc.recipe.egg
interpreter = zopepy
eggs = ${instance:eggs}

[releaser]
recipe = collective.recipe.template
input = templates/releaser.py.in
output = ${buildout:bin-directory}/releaser.py
auto-release = ${buildout:auto-checkout}
mode = 0755

[wkhtmltopdf]
recipe = hexagonit.recipe.download
url = https://wkhtmltopdf.googlecode.com/files/wkhtmltopdf-0.11.0_rc1-static-amd64.tar.bz2
